.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px;
    align-items: center;
}

.active{
   padding: 0.1rem 0.8rem;
   background-color: rgb(255, 235, 59);
   border-radius:2em;
}

.inactive{
    padding: 0.1rem 0.8rem;
    background-color:rgb(241, 93, 106);
    border-radius:2em;
}

.inprogress{
    padding:0.1rem 0.8rem;
    background-color: yellowgreen;
    border-radius:2em;
}